@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
.hidden {
  display: none;
}
@layer base {
  h2 {
    @apply text-xl;
  }
}
